/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del contenedor */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f0f0f0; /* Color de fondo del cuerpo */
}

/* Estilos del menú */
nav {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    background-color: #ccc; /* Color de fondo del rectángulo gris */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #999; /* Cambia el color de fondo al pasar el ratón */
}